<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>        
		<link href="https://fonts.googleapis.com/css?family=Jomolhari|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
		<title>My Reading List</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/readingapp.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>